@model IEnumerable<pdf.Models.FileDetail>
<table class="table table-bordered">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.FileName)
        </th>

        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>

            <td>
                @*@Html.ActionLink("Downlaod", "DownLoadFile", new { id = item.Id })*@
                <button id="download">download</button>
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#download').click(function (e) {
        e.preventDefault();
        alert("sdfsdfsdfdsfsd");
    });

</script>